{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<!-- <style src="https://fonts.googleapis.com/css?family=Roboto&display=swap"></style> -->
<style>
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
}

.otree-title {
  text-align: center;
  padding-bottom: 2em;
}

</style>
{% endblock %}

{% block global_scripts  %}
{% endblock %}
