{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choice round {{round_in_interaction}} of this interaction
{% endblock %}

{% block content %}

{% if first %}
<p><strong>You have now been matched with a new worker for a new interaction with new parameters.</strong> </p>
{% endif %}

<!-- {% if not first %}
<p>In the previous round, you took action <strong>{{self_a}}</strong> and the other person took action <strong>{{opp_a}}</strong>, which gave you a payoff of <strong>{{payoff}} </strong>.</p>
{% endif %} -->

<!-- <p>You currently have a total of <strong>{{tot_payoff}}</strong></p> -->

<!-- <p>This interaction has the following rules</p> -->

The two decisions have the following effects in this interaction:
<ul>
		<li> <strong>A</strong> Will give you <strong>{{A_val}}</strong> points and the other worker <strong>{{player.benefit}}</strong> points.</li>
		<li> <strong>B</strong> Will give you <strong>{{base}}</strong> points and the other worker <strong>0</strong> points.</li>
</ul>


<p style="margin-top:2em">The possible outcomes for you after this round are:</p>
<!-- <table class="table" style="text-align: center;"> -->
<table style="text-align: center; margin-left:auto; margin-right:auto;">
	<tr>
					<th></th>
					<td></td>
					<td colspan="2">They choose</td>
			</tr>

        <tr>
                <th></th>
								<td></td>
                <td class="bord_bottom"><strong>A</strong> </td>
                <td class="bord_bottom"><strong>B</strong></td>
            </tr>
    <tr>
				<td rowspan="2" valign="middle" style="vertical-align:middle; text-align:right">You choose</td>
        <th class="bord_right"><strong>A</strong></th>
        <td class="bord_bottom bord_right"><strong>{{A_val|add:player.benefit}}</strong> </td>
        <td class="bord_right bord_bottom"><strong>{{A_val}}</strong></td>
    </tr>
    <tr>
            <th class="bord_right"><strong>B</strong></th>
            <td class="bord_bottom bord_right"><strong>{{base|add:player.benefit}}</strong> </td>
            <td class="bord_right bord_bottom"><strong>{{base}}</strong></td>
    </tr>
</table>
<!-- </ul> -->
	<!-- <div class="float-left-alone">
    <p>With <strong>{{notδ}}%</strong> probability the interaction will end after this round (<span class="continue-color"></span>).</p>
	</div>
	<div class="float-left-alone">
  <pie class="continue"></pie>
  </div> -->


<div class="float-left-alone">
<p style="text-align: center;">Choose between action <strong>A</strong> and <strong>B</strong>.</p>
    <div style="text-align: center">
        <button name="choice" value="True" class="btn btn-primary btn-large">A</button>
        <button name="choice" value="False" class="btn btn-primary btn-large">B</button>
    </div>
	</div>

<style>
.float-left-alone {
	text-align: center;
	display: block;
}

.float-left-alone p {
	text-align: center;
	margin-top: 4em;
}

table td, th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.bord_right {
	border-right: 1px black solid;
}

.bord_bottom {
	border-bottom: 1px black solid;
}

pie {
	display: inline-block;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-color: #dc3545;
	border: 1px solid black;
	/* float: left; */
	margin: 1em;
	margin-top: 0;
}

.continue-color {
	height: 0.8em;
	width: 0.8em;
	margin-bottom: -0.1em;
	background-color: #dc3545;
	display: inline-block;
	border-radius: 4px;
}


.randomization {
float: left;
/* width: 50%; */
height: auto;
text-align: center;
}

li {
	list-style-position: inside;
}

/* .noise {
	background-image:
			linear-gradient(91deg, transparent 50%, #56E39F 50%),
			linear-gradient(90deg, #56E39F 50%, transparent 50%);
} */

.continue {
	background-image:
			linear-gradient(91deg, transparent 50%, #1D5 50%),
			linear-gradient(90deg, #1D5 50%, transparent 50%);
}
</style>

<script>
	var tot = 0
	var green = "#EC8B5E"
	var red = "#141A46"


	function increase(i){
	return 0.15*i^1 + Math.random()*20
	}

	function update_gradient(obj, prob){
		console.log($("."+obj).css("background-image"));
		var gradient = $("."+obj).css("background-image").split("91deg").join(String(90+prob*3.6)+"deg");
	  console.log(gradient);
	  $("."+obj).css("background-image", gradient);
	  console.log(String(prob*3.6));
	  console.log($("."+obj).css("background-image"));
	}

	var cont_prob = 100 - {{δ | json}};
	update_gradient("continue", cont_prob);

	// var noise_prob = {{ε |json}};
	// update_gradient("noise", noise_prob);
</script>
{% endblock %}
