{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}

<p>The you for participating, the experiment is now over. You earned a total of <strong>{{tot_payoff}}</strong> which corresponds to <strong> {{ play_bonus }}</strong> from the interactions. Additionaly, you earned  <strong>${{wait_bonus}}</strong> from the time spent on waiting pages, which yield a total bonus payment of <strong>{{tot_bonus}}</strong>  </p>

    {% next_button %}
{% endblock %}


