{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
    Results from Round {{round_in_interaction}}
{% endblock %}

{% block content %}

{% if opp_dropout %}
<p>The other participant in your group dropped out from the experiment, so the previous interaction got terminated early</p>


{% else %}
<div class="randomization">
<div class="wheel">
<h3>End Interaction?</h3>
  <div class="arrow"></div>
  <pie class="continue"></pie>
</div>
{% if last_round %}
<p class="result"> The interaction ended</p>
{% else %}
<p class="result"> The interaction continues</p>
{% endif %}
</div>

<div class="randomization">
<h3>Change Action?</h3>
<div class="wheel">
  <div class="arrow"></div>
  <pie class="noise"></pie>
</div>
{% if ε_happend %}
<p class="result"> Your action was changed to <strong>{{self_a}}</strong></p>
{% else %}
<p class="result"> Your action was not changed</p>
{% endif %}
</div>

{% endif %}

<div class="result">

<p>You took action <strong>{{self_a}}</strong> and the other person took action <strong>{{opp_a}}</strong>, which gives you a payoff of <strong>{{payoff}} </strong>.</p>

<p>    Your cummulative payoff from this interaction <strong>{{ cumulative_payoff}}</strong> from <strong>{{num_prev}}</strong> rounds. </p>
    <p>In total, you have <strong> {{ tot_payoff }}</strong>. </p>

{% if last_round %}
{% if last_interaction %}
<p> This was the last interaction, continue to the next page finish the experiment. </p>
{% else %}
<p> Since the interaction now ended, you will be matched with a new person for a new interaction</p>
{% endif %}
{% endif %}
</div>

{% next_button %}
<style>
	body {
background: white;
padding: 20px;
text-align: center;
/* font-family: Helvetica; */
}
pie {
	display: inline-block;
	width: 8em;
	height: 8em;
	display: block;
	border-radius: 50%;
	background-color: #141A46;
	border: 1px solid black;
	float: left;
	margin: 1em;
	margin-top: 0;
}

.otree-btn-next {
	display: none;
}

.arrow {
width: 1em;
height: 0.5em;
background: linear-gradient(45deg, black 25%, transparent 25%, transparent), linear-gradient(-45deg, black 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
background-position: 2.5em 0;
background-size: 1em 1em;
z-index: 10;
margin-left: 4.5em;
}

.randomization {
float: left;
width: 50%;
height: auto;
text-align: center;
}

.result {
color: white;
padding: 1em;
}

.wheel {
display: inline-block;
}

.noise {
	background-image:
			linear-gradient(91deg, transparent 50%, #EC8B5E 50%),
			linear-gradient(90deg, #EC8B5E 50%, transparent 50%);
}

.continue {
	background-image:
			linear-gradient(91deg, transparent 50%, #EC8B5E 50%),
			linear-gradient(90deg, #EC8B5E 50%, transparent 50%);
}
</style>

<script>
var tot = 0
var green = "#EC8B5E"
var red = "#141A46"


function increase(i){
return 0.15*i^1 + Math.random()*20
}

function update_gradient(obj, prob){
	console.log($("."+obj).css("background-image"));
	var gradient = $("."+obj).css("background-image").split("91deg").join(String(90+prob*3.6)+"deg");
  console.log(gradient);
  $("."+obj).css("background-image", gradient);
  console.log(String(prob*3.6));
  console.log($("."+obj).css("background-image"));
}

var cont_prob = 100 - {{δ | json}};
var cont_end_grad = String(90+cont_prob*3.6)+"deg"
update_gradient("continue", cont_prob);
var cont = {{last_round | json}};
var cont_start = (360 - 200*10) % 360;
var cont_rand = Math.random();

if (cont){
	cont_start = cont_start - cont_rand*cont_prob*3.6;
} else {
 cont_start = cont_start + cont_rand*(100-cont_prob)*3.6;
}

var noise_prob = {{ε}};
update_gradient("noise", noise_prob);
var noise_end_grad = String(90+noise_prob*3.6)+"deg"
var noise = {{ε_happend | json}};
var noise_start = (360 - 200*10) % 360;
var noise_rand = Math.random();
console.log(noise_rand);
if (noise){
	noise_start = noise_start - noise_rand*noise_prob*3.6
} else {
 noise_start = noise_start + noise_rand*(100-noise_prob)*3.6
}

cont_start = cont_start % 360
noise_start = noise_start % 360

tot_cont = 0
tot_noise = 0
for (i = 1; i <= 200; i++){
  tot_cont += increase(i);
  tot_noise += increase(i);
delayRotation(i, tot_cont, cont_start, "continue", cont, cont_end_grad);
  delayRotation(i, tot_noise, noise_start, "noise", noise, noise_end_grad);
}

function delayRotation(i,tot, start, obj, success, end_grad) {
	setTimeout(function(){
  rotation = ((i*10) + start) % 360 ;
  $("."+obj).css({
          "-moz-transform": "rotate(" + rotation + "deg)",
          "-webkit-transform": "rotate(" + rotation + "deg)",
          "-o-transform": "rotate(" + rotation + "deg)",
          "-ms-transform": "rotate(" + rotation + "deg)"
      });
    if (i == 200){
    setTimeout(function(){
    if(success){
      	// var gradient = $("."+obj).css("background-image").split(green).join("white");
        // $("."+obj).css("background-image", gradient)
				$("."+obj).css("background-image", "linear-gradient(" + end_grad +", transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%)")
    } else {
       $("."+obj).css("background-color", "white")
    }
    $(".result").css("color", "black");
		$(".otree-btn-next").css("display", "inline-block");
	}, 500)}
  }, tot);
}
</script>
{% endblock %}
