{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   The experiment is full.
{% endblock %}

{% block content %}
<p>The experiment is unfortunately already full. You will still get your base payment for completing the instructions.</p>
<!-- <p>The experiment is unfortunately already full. As a thank you for showing interest and completing the quiz you will get a bonus payment of ${{bonus}}.</p> -->

<p> Enter the following code to get your payment <strong>QuizBonus2020</strong>


{% endblock %}
