{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Instructions
{% endblock %}

{% block content %}
<div id="instructions">
    <p>Thank you for participating in this experiment.</p>
    <p> Please read the instructions carefully. Before you can start the experiment, you must pass a short quiz. You have {{Constants.num_rounds}} tries in total if you fail them all you will be disqualified from the experiment.</p>

    <p>This experiment is about decision making. You will be randomly matched with other MTurk workers, and none of you will know the identity of the other. You begin with {{initial_points}} points, and during the experiment, points will be added and subtracted to that amount based on the decisions you and others make in the experiment. The conversion rate from points to dollars is {{points_per_dollar}} points per dollar.</p>

    <p>Since this experiment involves multiple workers, there will be some waiting involved. You will be compensated for the time spent on waiting pages with a bonus payment corresponding to an hourly wage of $7. </p>

    <h4>The session</h4>
    <p>The session is divided into a series of interactions between you and one other worker at the time. </p>
    <p>In each interaction, you play a random number of rounds with the same worker. Each round, you will both make one decision. Once the interaction ends, you will be randomly re-matched with a different worker. If you take more than {{session.config.timeout}} seconds to make your decision in a round, a random action will be taken. If this happens three times, we will consider you inactive, and you will be removed from the experiment. The other worker will be compensated with {{compensation_units}} points.</p>

    <h4>The round</h4>
    <p>In each round of the experiment, you will choose between two options, A and B, and the other worker will face the same options. If you choose A, you will lose some points, and the other worker will gain some points. The effect of choosing A will change between the interactions but remain the same during each interaction. If you choose B, you will get {{session.config.base_points}} points and the other worker 0 points from your decision. The result of selecting B is always the same.</p>

    <p>For example, if choosing option A will result in you getting {{base|add:"-2"}} points and the other worker getting 3 points, four things can happen: </p>
    <div class="align-left">
    <ul>
        <li>If you play A and the other person plays A, you both get {{base|add:"-2"}} + 3= {{base|add:1}} points.</li>
        <li>If you play A and the other person plays B, you get {{base|add:"-2"}} + 0 = {{base|add:"-2"}} points, and they {{base}} + 3 = {{base|add:"3"}} points.</li>
        <li>If you play B and the other person plays A, you get {{base}} + 3 = {{base|add:"3"}} points and they {{base|add:"-2"}} + 0 = {{base|add:"-2"}} points.</li>
        <li>If you play B and the other person plays B, you both get {{base}} points.</li>
    </ul>
</div>

    <h4>Random number of rounds</h4>
    <p>You will not know how many rounds a given interaction will last. Instead, for each interaction, there is a 25% probability that the interaction will end after every round. So there is an 75% probability that you will play at least one more round and a 25% probability that the current round is the last.</p>
    <!-- <h4>A chance that your choice is changed</h4>
    <p>In each round there is some probability that the choice you make will be changed and the other choice implemented instead. So if that probability is 10% and you choose A, there is a 90% probability that A will be implemented and 10% probability that B will be implemented. The same is true for the other worker's choice. There is no way for you to know if the choice you observe was the inteded choice or not. </p> -->

</div>


<h2>Quiz</h2>


<p> Try {{player.round_number}}/{{Constants.num_rounds}} of the quiz.</p>

{% if player.round_number > 1 %}
<p style="color: red; font-weight:bold;"> At least one of your answers was incorrect, read the instructions and try again. </p>
{% endif %}

 <!--maybe we can also decrease the number of quiz questions. Is it essential for them to understand the answers for 1 and 2? they will learn them in like 5 rounds max.-->

<!-- {% formfield player.q1 label="If choice A gets you 4 points and the other worker 3 points and you both choose A, what is the payoff you will receive?" %} -->
{% formfield player.q1 label=q1_label %}
{% formfield player.q2 label="If you both choose B, what is the payoff you will receive?" %}
{% formfield player.q3 label="What will be the probability the interaction ends after any given round?" %}



    <div class="centered">
        {% next_button %}
    </div>
<style>
p {
    text-align:left;
}

.align-left {
    text-align: left;
}

</style>


{% endblock %}
